.TodoList {
  text-align: left;
  width: 50%;

  .add-todo {
    padding: 10px;
  }

  .todos-container {
    width: 90%;
    margin: 10px;

    .todo-item {
      font-size: 18px;
      display: flex;
      align-items: baseline;
      margin: 10px;
  
      input {
        margin: 10px;
      }

      label {
        flex: 1 1 auto;
      }

      .delete-todo {
        margin: 10px;
      }

      .hidden {
        visibility: hidden;
      }
    }
  }
}